body {
    font-family: Arial, sans-serif;
    background-color: #E2F4C5;
    margin: 0;
    padding: 0;
}


.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: 20px auto;
    background-color: #7AA2E3;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: #dcdbe1;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 65%;
}

.btn {
    font-family: 'Orbitron', sans-serif;
    background-color: #0fb3a8;
    color: rgb(0, 0, 0);
    border: solid black 0.5px;
    width: 100%;
    border-radius: 5px;
    height: 70%;
    outline: none;
}

.but{
    font-family: 'Orbitron', sans-serif;
    background-color: #98dfe6;
    color: rgb(0, 0, 0);
    border: solid black 0.5px;
    width: 100%;
    border-radius: 5px;
    height: 70%;
    outline: none;
}

input:active[type=button] {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

.header {
    background-color: #496989;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: OCR A Std, monospace;
}

.navbar {
    overflow: hidden;
    background-color: #445d77;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.info-bar {
    background-color: #013c6d;
    color: #ffffff;
    font-family: OCR A Std, monospace;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    max-width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 400px;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #496989;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #6088b1;
}